$primary: #f8f8f8; 
$secondary: #fff;
$tertiary: #111111;
$copyright: #1d1d1d;
$links: #111111;
$main__boxes: #343a40;
$main__titles: #282828;
$main__subtitles: #a4a4a4;
$main__letters: #5d5d5d;
$main__extras: #878787;  
$footer__letter: #ababab;
